* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     /* Code for the background patterns */
     background-image: url('images/bg-pattern-top-mobile.svg'),
     url("images/bg-pattern-bottom-mobile.svg");
     background-repeat: no-repeat, no-repeat;
     background-position: -1rem -1rem, 2.5rem 10.875rem;
}
h1 {
  font-weight:700;
  color: hsl(300, 43%, 22%);
}
.container {
  max-width: 80%;
  text-align: center;
  margin: 3rem auto;
}
.upper-container {
  margin-bottom: 4rem;
}
.upper-container > p {
  color: hsl(303, 10%, 53%);
  
}
.ratings-for-upper-container {
  background-color: hsl(300, 24%, 96%);
  margin-bottom: 1rem;
  padding: 1rem 1rem 0.1rem;
  border-radius: 0.6rem;
}
.ratings-for-upper-container > p {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}
ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.images-for-lower-container {
  border-radius: 50%;
  height: 2.6rem;
  width: 2.6rem;
}
.reviews-for-lower-container {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
  padding: 2rem;
  border-radius: 0.6rem;
  line-height: 1.45;
}
.reviews-for-lower-container > p {
  text-align: left;
}
.reviews-for-lower-container span {
  color: hsl(333, 80%, 67%, 0.6);
}
ul > li {
  margin-right: 1.8rem;
}

/*
body {
    color: hsl(300, 43%, 22%)
    hsl(333, 80%, 67%)
    
    hsl(303, 10%, 53%)
    hsl(300, 24%, 96%)
    hsl(0, 0%, 100%)

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  } */

  @media only screen and (min-width: 1200px) {
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    .upper-container {
      display: flex;
      text-align: left;
    }
    .first-upper-container {
      margin-right: 7rem;
    }
    .lower-container {
      display: flex;
    }
    .first-upper-container {
      width: 40%;
    }
    .second-upper-container {
      width: 60%;
    }
    .ratings-for-upper-container > div, p {
      display: inline;
    }
    .ratings-for-upper-container {
      width: 70%
    }

  }