* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: 'Spartan', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Code for the background patterns */
  background-image: url('images/bg-pattern-top-mobile.svg'),
     url("images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: -1rem -1rem, 2.5rem 10.875rem;
}
.container {
  max-width: 80%;
  text-align: center;
  margin: 3rem auto;
}
.top {
  margin-bottom: 3.75rem; /*used 4rem before*/
}
.content__header {
  color: hsl(300, 43%, 22%);
  font-size: 2.6rem;
}
.content__text {
  color: hsl(303, 10%, 53%);
}
.rating__stars {
  background-color: hsl(300, 24%, 96%);
  padding: 1rem 1rem 0.1rem;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
}
.rating__text {
  color: hsl(300, 43%, 22%);
  font-weight:600;
}
.reviews {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
  padding: .9rem 1.7rem;
  border-radius: 0.5rem;
  line-height: 1.45;
}
.reviews__text {
  text-align: left;
}
.reviews__image {
  border-radius: 50%;
  height: 2.6rem;
  width: 2.6rem;
  margin-right: 1.6rem;
}
.reviews__verified {
  color: hsl(333, 80%, 67%, 0.6);
}
.reviews__section {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.reviews__name {
  font-weight: 700;
}
.attribution {
  font-size: 1rem;
  text-align: center;
  color: hsl(303, 10%, 53%);
  
}
.attribution a {
  color: hsl(333, 80%, 67%, 0.6);
  text-decoration: none;
} 

@media only screen and (min-width: 768px) and (max-width: 1200px){

  .container {
    max-width: 70%;
  }
  .rating {
    max-width: 60%;
    margin: auto;
  }
  .content__text {
    max-width: 90%;
    margin: auto;
  }
  .content {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-image: url('images/bg-pattern-top-desktop.svg'), url('images/bg-pattern-bottom-desktop.svg');
    /*background-position: -1rem -1rem, 2.5rem 10.875rem;*/
  }
  .top {
    display: flex;
      text-align: left;
      margin-bottom: .75rem;
  }
  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .reviews--first {
    width: 30%;
  }
  .reviews--second {
    margin-top: 3rem;
    width: 30%;
  }
  .reviews--third {
    margin-top: 6rem;
    width: 30%;
  }
  .content {
    width: 40%;
    margin-right: 7rem;
  }
  .rating {
    width: 60%;
    display: grid;
    grid-template-areas: 
    'firstContainer firstContainer . .' 
    '. secondContainer secondContainer .' 
    '. . thirdContainer thirdContainer';
  }
  .rating__text {
    display: inline;
    
  }
  .rating--first {
    grid-area: firstContainer;
  }
  .rating--second {
    grid-area: secondContainer;
  }
  .rating--third {
    grid-area: thirdContainer;
  }
  
}


  

